[submodule "3rdparty/NeMo"]
	path = 3rdparty/NeMo-workspace/NeMo
	url = http://ghfast.top/https://github.com/NVIDIA/NeMo.git
	branch = ashors/nemorl-qwen3
	shallow = true
[submodule "3rdparty/Megatron-LM"]
	path = 3rdparty/Megatron-LM-workspace/Megatron-LM
	url = http://ghfast.top/https://github.com/terrykong/Megatron-LM.git
	branch = sahilj/megatron-external-loss-norm
	shallow = true
[submodule "3rdparty/flash-attention"]
	path = 3rdparty/flash-attention
	url = http://ghfast.top/https://github.com/tpoisonooo/flash-attention.git
	branch = support-ghfast
	shallow = true
[submodule "3rdparty/apex"]
	path = 3rdparty/apex
	url = http://ghfast.top/https://github.com/tpoisonooo/apex.git
	branch = support-ghfast
	shallow = true
